@model AllGreatFilms.BusinessObjectLayer.user

@{
    ViewBag.Title = "Admin Register";
    Layout = "~/Views/Shared/_Layout_inner.cshtml";
}


<section id="registration">
    <div class="container">
        <div class="register-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                @*<form method="post">*@
                @using (Html.BeginForm("Register", "AdminRegister", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0"><img src="~/Assets/agf_small.gif" width="60"></div>
                        <div class="col-lg-7 col-lg-offset-1 col-lg-pull-0 col-md-10">
                            <p>We Recommed Great Films.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <h2 class="text-center"><strong>Create</strong> an account.</h2>
                        <div class="form-group">

                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", type = "Email", name = "Email", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "Password", name = "Password", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "Password", name = "Confirm Password", placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })




                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input type="checkbox">I agree to the license terms.
                                </label>
                            </div>
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Register" class="btn btn-primary" id="login" />


                        </div><a href="#" class="already">You already have an account? <span style="color:#eb4d63"><strong>Login here.</strong> </span></a>


                    </div>
                }
            </div>

        </div>

    </div>

</section>
@*<div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0"><img src="assets/img/agf_small.gif" width="60"></div>
                    <div class="col-lg-5 col-lg-offset-1 col-lg-pull-0 col-md-10">
                        <p>We Recommed Great Films.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="control-label">
                            <input type="checkbox">I agree to the license terms.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </div><a href="#" class="already">You already have an account? Login here.</a>
            </form>
        </div>
    </div>*@




@*<h2>Register</h2>

    @using (Html.BeginForm("Register","Register" ,FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <div class="form-horizontal form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 ">
                    <input type="submit" value="Register" class="btn btn-primary" id="login" />
                </div>
            </div>
        </div>
    }*@

