@model AllGreatFilms.BusinessObjectLayer.Model.movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.writer1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.writer1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.movie_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
