@model IEnumerable<AllGreatFilms.BusinessObjectLayer.Model.movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.writer1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.language1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.writer1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.movie_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.movie_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.movie_id })
        </td>
    </tr>
}

</table>
